body {
    margin: 0;
    background-color: white;
}
.cabeca {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
}
/* estilo do cabeçalho */
header {
    background-color: rgba(27, 81, 161, 0.87);
    color: white;
}
h1 {
    float: left;
    margin-left: 10px;
}

.navegacao {
    float: right; /* vai ficar fixa no lado direito */
    margin-top: 30px; /* uma margem de 30 px do inicio do site */
    display: flex;
}
.navegacao li{
    display: flex; /* vai ficar na mesma linha um ao lado do outro */
    margin-right: 20px; /* com uma margem de 20 pixels de diferença */
    cursor: pointer;
    padding: 5px;
}
a {
    color: #fff;
    font-weight: bold;
    transition: 1s; /* transição vai ocorrer em 0.2 segundos */
    text-decoration: none;
}
li:hover {
    transform: scale(1.1); /* vai aumentar a escala do botão */
    background-color: black;
    color: white;
    border-radius: 5px;
    
}
/* estilo corpo */
img {
    width: 80%;
    height: 400px;
    box-shadow: 2px;
    margin-left: 10%;
    margin-top: 20px;
}
.corpo {
    display: flex;
    flex-direction: column;
    width: 100%;

    line-height: 1.5;
    align-items: center;
}
p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    margin-bottom: 0px;
}
h2 {
    text-align: start;
}
section {
    color: rgba(27, 81, 161, 0.87);
}
/* estilo rodapé */
footer {
    background: rgba(27, 81, 161, 0.87);
    position: relative;
    color: #fff;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.footer {
    font-size: 11px;
    text-align: center;
    font-weight: bolder;
}
















